.nav-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 90%;
  margin: 40px auto;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); // Adds a subtle shadow
  img {
    width: 120px;
    height: 80px;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 10px 20px;

  &:hover {
    color: #0db75f;
  }
}

.active {
  color: #0db75f !important; // Override the default link color
  border-radius: 12px;
  transition: all 0.3s ease;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .signup {
    color: white;
    margin-right: 50px;

    button {
      color: white;
      height: 48px;
      width: 130px;
      border-radius: 12px;
      background-color: #0db75f;
      font-size: 16px;
      /* Adjust size as needed */
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }
}

/*Hero Section*/

.hero-section {
  //   background-color: #204775;
  .hero-design-layout {
    .hero-text {
      color: black;

      span {
        color: #0bb04a;
        font-weight: bold;
      }

      .hero-btns {
        .talk {
          color: white;
          height: 48px;
          width: 130px;
          border-radius: 12px;
          background-color: #0db75f;
          font-size: 19px;
          font-weight: 500;

          text-align: center;
          /* Adjust size as needed */
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        }
        .touch {
          color: black;
          height: 48px;
          width: 130px;
          font-weight: 500;
        }

        .touch:hover {
          color: black;
          border: 3px solid #0db75f;
          background-color: white;
          transition: all 0.3s ease;
        }
      }
    }

    .hero-img {
      display: flex;
      justify-content: center;
      align-items: center;
      .parent-box {
        width: 300px;
        height: 330px;
        background-color: #0db75f;
        position: relative;

        .child-box {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 5px solid #010101;
          position: absolute;
          top: 10%;
          right: 10%;

          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            position: absolute;
            top: 29%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .social-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 90px;
      span {
        p {
          rotate: 90deg;
          font-size: small;
          font-weight: 600;
          font-size: 14px;
        }
      }
      hr {
        rotate: 90deg;
      }
      .svg-icons {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

/*statistics section*/
.statistics-section {
  margin-top: 60px;
  .statistics {
    hr {
      width: 5%;
      height: 1px;
      border: 2px solid #087a3f;
      rotate: 90deg;
    }
    h1 {
      color: #0db75f;
    }
    p {
      color: #010101;
      font-weight: 600;
      font-size: 24px;
    }
  }
}
