<section class="home-container">
    <div class="side-div col-3">
    </div>
    
    <div class="header col-9" style="margin-left: 25%;">
        <div class="header-hero">
            <img  class="imge" src="../../../assets/images/brandon-mowinkel.jpg" alt="">
            <div class="folder-container cr">
                <div class="img1">
                    <img class="folder" src="https://static.tildacdn.com/tild3265-6565-4961-b532-643663376435/icons8-mac-folder-96.png" alt="projects-folder">
                    <p>[Projects]</p>
                </div>
                <div class="img2">
                    <img class="folder" src="https://static.tildacdn.com/tild3265-6565-4961-b532-643663376435/icons8-mac-folder-96.png" alt="projects-folder">
                    <p>[Awards]</p>
                </div>
                <div class="img3">
                    <img class="folder" src="https://static.tildacdn.com/tild3265-6565-4961-b532-643663376435/icons8-mac-folder-96.png" alt="projects-folder">
                    <p>[Price]</p>
                </div>
                <div class="img4">
                    <img class="folder" src="https://static.tildacdn.com/tild3265-6565-4961-b532-643663376435/icons8-mac-folder-96.png" alt="projects-folder">
                    <p>[Process]</p>
                </div>
                
            </div>
        </div>
        <div class="header-main"></div>
    </div>
</section>
