<section>

    <div class="land-container">

        <div class="container-header">

            <div class="container-header-title boldonse-regular"><span>G</span>RAPHIC <span>D</span>ESIGNER</div>

            <div class="container-header-text"><span>With every project, my goal is to translate my clients' visions into designs that not only
                    captivate</span>
                <br>
                <span> but also connect deeply with their audience, ensuring the brand's message is both seen and felt</span>
            </div>
          
        </div>

        <div class="side-links">
            <div class="link-section">
                <a href="#">[resume]</a>
                <a href="#">[linkedIn]</a>
                <a href="#">[email]</a>
            </div>
            <div class="link-section">
                <a href="#">[behance]</a>
                <a href="#">[pinterest]</a>
                <a href="#">[dribbble]</a>
            </div>
            <div class="link-section">
                <a href="#">[instagram]</a>
                <a href="#">[telegram]</a>
            </div>
        </div>

        <div class="container-content cr">
            <div class="folder-container" routerLink="/home">
                <img class="folder"
                src="https://static.tildacdn.com/tild3265-6565-4961-b532-643663376435/icons8-mac-folder-96.png"
                alt="projects-folder">
                <span>[Projects]</span>
            </div>
           
        </div>


        <div class="container-footer">
            <div class="rotating-cd">
                <img src="https://static.tildacdn.com/tild6363-6134-4438-a231-333938386130/cssda-wotd-dark.png" alt="">
            </div>

            <div class="footer-text">
                <p>hey, i'm Diana - web designer currently based in Switzerland.</p>
                <p>I specialize in crafting compelling landing pages and multi-page.</p>
            </div>
        </div>
    </div>


</section>